# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Node/React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.stylelintcache
build/
dist/
.next/
out/
.vercel
.netlify

# Database
course.db
*.sqlite3

# Logs
*.log
!/frontend/src/lib/
!/frontend/src/lib/api.ts
!/backend/.env
